

@mixin fontface( $fontname, $filename, $weight, $style ) {
    font-family: '#{$fontname}';
    src: url('#{$filename}.eot');
    src: url('#{$filename}.eot?#iefix') format('embedded-opentype'),
         url('#{$filename}.woff') format('woff'),
         url('#{$filename}.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;

}

//rgba(255,255,255,1), rgba(1,1,1,.5)

@mixin multiple-radial-gradient( ) {
	$outer: rgba(255,255,255,1);
	$inner: rgba(255,255,255,.4);
	$upper: rgba(220,220,220,.5) 50%;
	$lower: rgba(255,255,255,.5) 50%;
	$type: circle;
	// Somday I'll care about other browsers. It is not today.
	// background: $outer;
	// background: -moz-radial-gradient( center, $type cover,  $inner 0%, $outer 100% );
	// background: -webkit-gradient( radial, center center, 0px, center center, 100%, color-stop(0%,$inner), color-stop(100%,$outer) );
	// background: -o-radial-gradient( center, $type cover,  $inner 0%, $outer 100% );
	// background: -ms-radial-gradient( center, $type cover,  $inner 0%, $outer 100% );
	//background: radial-gradient( center, $type cover,  $inner 0%, $outer 100% );

	background-image: -webkit-radial-gradient( center, $type contain,  $inner 0%, $outer 100% ),
						linear-gradient($upper, $lower); 
	background-size: 100%, 50px;	
	
}